<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi cuenta</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/layout::pageloader"></div>
<div th:replace="fragments/layout::navbar"></div>
<div th:replace="fragments/layout::header-categories"></div>
<main>
  <div class="submain">
    <div class="d-flex flex-wrap justify-content-center mx-auto my-3 my-sm-3 my-md-5 my-lg-5 my-xl-5 my-xxl-5">
      <!-- Section bar del usuario  -->
      <div th:replace="fragments/layout::section-bar"></div>


      <div class="mx-3 col-11 col-sm-11 col-md-6 col-lg-6 col-xl-6 col-xxl-6 bg-pizza-gray rounded-3 box-orders d-flex flex-column align-items-center pt-2">

        <div th:if="${#lists.isEmpty(pedidos)}">
          <p class="text-center">Aún no hay pedidos devueltos</p>
        </div>
        <div th:each="pedido : ${pedidos}" class="w-95 row mb-2 p-2 rounded-3" style="background-color:white;">
          <div class="col-12 col-md-2 d-flex justify-content-center align-items-center mb-3 mb-md-0">
            <i class="bi bi-check-square fs-1" style="color: #8EFF61"></i>
          </div>
          <div class="col-12 col-md-10">
            <div class="row">
              <div class="col-6 mb-2">
                <p class="mb-0"><strong>Fecha pedido:</strong></p>
                <p class="text-muted mb-0" th:text="${pedido.fecha_pedido}"></p>
              </div>

              <div class="col-6 mb-2">
                <p class="mb-0"><strong>Fecha entrega:</strong></p>
                <p class="text-muted mb-0" th:text="${pedido.fecha_entrega}"></p>
              </div>

              <div class="col-6 mb-2">
                <p class="mb-0"><strong>Nombre referencia:</strong></p>
                <p class="text-muted mb-0" th:text="${pedido.nombre_ref}"></p>
              </div>

              <div class="col-6 mb-2">
                <p class="mb-0"><strong>Dirección:</strong></p>
                <p class="text-muted mb-0" th:text="${pedido.direccion}"></p>
              </div>
            </div>
            <div class="w-100 d-flex justify-content-end">
              <button type="button" class="btn-effect-yellow bg-pizza-yellow fs-6 p-1 rounded-3"
                      data-bs-toggle="modal"
                      data-bs-target="#modalDetalles"
                      th:data-id_pedido="${pedido.id_pedido}"
                      th:data-productos="${pedido.productos}"
                      th:data-precio="${pedido.precio}">
                Ver detalles
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</main>
<div th:replace="fragments/layout::footer"></div>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>