<nav th:fragment="navbar" class="d-flex shadow-sm p-2 align-items-center">
<div class="d-flex align-items-center justify-content-center col-6">
    <a href="#" class="d-flex p-2 text-pizza-dark rounded-3 gap-1 font-fugaz-one">
        <img src="">
        HappyPizza
    </a>
</div>
<div class="d-flex align-items-center justify-content-center col-6 ">
    <a href="#" class="d-flex px-3 py-1 bg-pizza-yellow text-pizza-dark rounded-3 gap-1">
        <img src="/images/call.svg">
        <div id="contactus" class="grid">
            <h6>Contáctanos</h6>
            <h6>XXX-XXX-XXX</h6>
        </div>
    </a>
    <a href="#" class="d-flex px-3 py-2 gap-2 text-pizza-dark rounded-3">
        <img src="/images/user.svg">
        <div id="login">
            Iniciar Sesión
        </div>
    </a>
</div>
</nav>



<footer th:fragment="footer" class="d-flex justify-content-evenly bg-pizza-dark text-light p-3 flex-wrap">
<div class="p-3 d-block align-items-baseline">
    <h5>Servicio y ayuda</h5>
    <ul>
        <li>
            <a href="#">Iniciar sesión</a>
        </li>
        <li>
            <a href="#">Enviar un correo</a>
        </li>
        <li>
            <a href="#">Preguntas frecuentes</a>
        </li>
        <li>
            <a href="#">Trabaja en nuestros locales</a>
        </li>
        <li>
            <a href="#">Libro de reclamaciones</a>
        </li>
    </ul>
</div>
<div class="p-3 d-block align-items-baseline">
    <h5>Políticas de servicio</h5>
    <ul>
        <li>
            <a href="#">Términos y condiciones</a>
        </li>
        <li>
            <a href="#">Política de privacidad</a>
        </li>
        <li>
            <a href="#">Carta del día</a>
        </li>
    </ul>
</div>
<div class="p-3 d-block align-items-baseline">
    <h5>Sobre nosotros</h5>
    <ul>
        <li>
            <a href="#">Nuestra historia</a>
        </li>
        <li>
            <a href="#">Nuestros locales</a>
        </li>
        <li>
            <a href="#">Ficha nutricional</a>
        </li>
        <li>
            <a href="#">Permisos de operación</a>
        </li>
    </ul>
</div>
<div class="px-5 py-3 d-block text-center align-items-baseline border-start border-light border-2">
    <h5>Redes sociales</h5>
    <ul class="p-3">
        <li>
            <a href="#">Facebook</a>
        </li>
        <li>
            <a href="#">Instagram</a>
        </li>
    </ul>
</div>
</footer>
