<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elige el que prefieras</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--Pantalla de carga-->
<div th:replace="fragments/layout::pageloader"></div>

<nav class="d-flex p-2 align-items-center">
    <div class="d-flex align-items-center justify-content-center col-6">
        <a id="home" th:href="@{/}" class="d-flex align-items-center py-2 text-pizza-dark rounded-3 gap-1 font-fugaz-one">
            <img th:src="@{/images/logo.png}" class="img-fluid" width="40px">
            HappyPizza
        </a>
    </div>
</nav>
<main>
    <div class="submain">
        <section class="container-fluid">
            <!-- Franjas -->
            <div class="d-flex w-100 align-items-center justify-content-center my-3 py-2">
                <div class="d-flex col-3 col-sm-4 col-md-1 col-lg-1 col-xl-1 align-items-center flex-wrap">
                    <span class="line-red"></span>
                    <span class="line-red"></span>
                </div>
                <h2 class="w-100 mx-auto text-center px-2">Selecciona tu pizza</h2>
                <div class="d-flex col-3 col-sm-4 col-md-8 col-lg-8 col-xl-8 align-items-center flex-wrap">
                    <span class="line-red"></span>
                    <span class="line-red"></span>
                </div>
            </div>
            <div class="px-2">
                <div class="col-5 d-flex justify-content-start align-items-center">
                    <a th:href="@{/selector(id=${id},title=${title},price=${price},img=${img},category=${category})}" class="d-flex justify-content-center align-items-center p-2 font-fredoka fw-semibold size-14 my-2">
                        <div class="d-flex justify-content-center align-items-center rounded-4 bg-pizza-yellow p-1 mx-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                        </div>
                        Volver
                    </a>
                </div>
            </div>

            <section class="d-flex flex-wrap justify-content-evenly" id="select-products">

                <div th:each="producto, iterStat : ${productos}" class="d-flex justify-content-center align-items-center rounded-4 card-repertory p-0 m-2">
                    <div class="d-flex flex-wrap justify-content-center align-items-center col-12 h-100">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 card-img-selection">
                            <img th:src="@{${producto.imagen}}" alt=".">
                        </div>
                        <div class="p-3 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 card-body-selection">
                                <div>
                                    <h5 class="card-title mb-2" th:id="${'title-'+iterStat.count}" th:text="${producto.titulo}"></h5>
                                </div>
                                <div class="card-description card-text size-14 mb-2" th:text="${producto.descripcion}"></div>
                                <div class="form-style mb-2" th:id="${'type-'+iterStat.count}" th:text="${type}"></div>

                                <div th:each="detalle : ${detalles}" th:if="${detalle.id_repertorio == producto.id_repertorio && detalle.detalle == type}">
                                        <a th:href="@{/selector(id=${id},title=${title},price=${price},img=${img},category=${category})}" class="btn btn-dark w-100 font-fredoka size-14" th:id="${'select-'+iterStat.count}">
                                        <input type="hidden" th:value="${detalle.id_proprima}">
                                            Seleccionar
                                        </a>
                                </div>

<!--                                <form th:action="@{/selector_products()}" method="POST">-->
<!--                                    <input type="hidden" name="producto" th:value="${producto.titulo}">-->
<!--                                    <select name="detalle" class="w-100 mb-2 form-style cursor-point">-->
<!--                                        <option th:value="${type}" th:text="${type}"></option>-->
<!--                                    </select>-->
<!--                                    <button type="submit" class="btn btn-dark w-100 font-fredoka size-14">Seleccionar</button>-->
<!--                                </form>-->
                        </div>
                    </div>
                </div>

            </section>

        </section>

    </div>
</main>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>